#banner {

    .wpb_wrapper {
        margin-left: 30px;
        margin-right: 30px;



        .banner-img {
            width: 147px;
            height: 147px;
        }

        .banner-image {
            margin-top: 5%;
            width: 100px;
            height: 100px;
        }


        .content {
            .title {
                margin-top: 26px;
                font-size: 25px;
                font-family: Montserrat, sans-serif;
                margin-bottom: 10px;

            }

            .desc {
                font-size: 14px;

            }
        }
    }
}