#tour {
    h2 {
        margin-left: 10px;
        font-size: 30px;
        line-height: 1.5;
        font-weight: 700;
        color: hsl(136, 62%, 7%);
        font-family: "DM sans", sans-serif;
    }

    img {
        width: 410px;
        height: 300px;
        border-radius: 12px;
        margin-bottom: 7%;
    }

    .lh-13 {
        font-size: 14px;
        padding-left: 2%;
    }

    .title {
        margin-top: 10px !important;
        font-weight: 500;
        line-height: 1.5;
        font-size: 18px;
        font-family: "DM sans", sans-serif;

    }
}