#tour {
    h2 {
        margin-left: 10px;
        font-size: 30px;
        line-height: 1.5;
        font-weight: 700;
        color: hsl(136, 62%, 7%);
    }

    img {
        width: 410px;
        height: 300px;
        border-radius: 12px;
        margin-bottom: 7%;
    }

    .lh-13 {
        font-size: 14px;
        padding-left: 2%;
        cursor: pointer;

        &:hover {
            color: rgba(71, 173, 63, 255) !important;
        }
    }

    .title {
        margin-top: 4px !important;
        font-weight: 500;
        line-height: 1.5;
        font-size: 18px;
        font-family: "DM sans", sans-serif;
        padding-left: 2%;
        font-weight: 600;
        cursor: pointer;

    }

}